{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Mayura site admin') }}{% endblock %}

{% block branding %}

    {% block extrastyle %}
        <link href="{% static 'css/adminstyle.css' %}" rel="stylesheet" type="text/css" media="screen,projection" />
    {% endblock %}

    <h1 id="head">
        <a href="{% url 'admin:index' %}" style="color: black; font-weight: bold; font-style: italic">
            <img src="{% static './wetransfer/2.png' %}" height="40px" />
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}